{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<div class="container">
  <div class="employees-form">
    <div class="row">
      <form method="POST" class="col s12">
        <div class="row">
          <div class="input-field col s4">
            <label style="font-size: 18px; color: black;" for="last_name">Фамилия</label>
            {{ render_field(form.last_name, value=cs.last_name) }}
          </div>
          <div class="input-field col s4">
            <label style="font-size: 18px; color: black;" for="first_name">Имя</label>
            {{ render_field(form.first_name, value=cs.first_name) }}
          </div>
          <div class="input-field col s4">
            <label style="font-size: 18px; color: black;" for="middle_name">Отчество</label>
            {{ render_field(form.middle_name, value=cs.middle_name) }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <label style="font-size: 18px; color: black;" for="pos_plan">План POS</label>
            {{ render_field(form.pos_plan, value=cs.pos_plan) }}
          </div>
          <div class="input-field col s6">
            <label style="font-size: 18px; color: black;" for="pos_fact">Факт POS</label>
            {{ render_field(form.pos_fact, value=cs.pos_fact) }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <label style="font-size: 18px; color: black;" for="nps_plan">План NPS</label>
            {{ render_field(form.nps_plan, value=cs.nps_plan) }}
          </div>
          <div class="input-field col s6">
            <label style="font-size: 18px; color: black;" for="nps_fact">Факт NPS</label>
            {{ render_field(form.nps_fact, value=cs.nps_fact) }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s5">
            <label style="font-size: 18px; color: black;" for="fz_plan">План ФЗ</label>
            {{ render_field(form.fz_plan, value=cs.fz_plan) }}
          </div>
          <div class="input-field col s5">
            <label style="font-size: 18px; color: black;" for="fz_fact">Факт ФЗ</label>
            {{ render_field(form.fz_fact, value=cs.fz_fact) }}
          </div>
          <div class="switch col s2" style="font-size: 18px; color: black;">
            <p>Наличие отказов от ФЗ</p>
            <h5 class="text-center">
            <label style="font-size: 18px; color: black;">
              Нет
              {{ form.refund_fz(value=False) }}
              <span id="fz_ref" class="lever"></span>
              Да
            </label>
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <label style="font-size: 18px; color: black;" for="sms_plan">План SMS</label>
            {{ render_field(form.sms_plan, value=cs.sms_plan) }}
          </div>
          <div class="input-field col s6">
            <label style="font-size: 18px; color: black;" for="sms_fact">Факт SMS</label>
            {{ render_field(form.sms_fact, value=cs.sms_plan) }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <label style="font-size: 18px; color: black;" for="kr_plan">План Карта Свобода</label>
            {{ render_field(form.kr_plan, value=cs.kr_plan) }}
          </div>
          <div class="input-field col s6">
            <label style="font-size: 18px; color: black;" for="kr_fact">Факт Карта Свобода</label>
            {{ render_field(form.kr_fact, value=cs.kr_fact) }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <label style="font-size: 18px; color: black;" for="box_plan">План BOX</label>
            {{ render_field(form.box_plan, value=cs.box_plan) }}
          </div>
          <div class="input-field col s6">
            <label style="font-size: 18px; color: black;" for="box_fact">Факт BOX</label>
            {{ render_field(form.box_fact, value=cs.box_fact) }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <label style="font-size: 18px; color: black;" for="ops_plan">План ОПС</label>
            {{ render_field(form.ops_plan, value=cs.ops_plan) }}
          </div>
          <div class="input-field col s6">
            <label style="font-size: 18px; color: black;" for="ops_fact">Факт ОПС</label>
            {{ render_field(form.ops_fact, value=cs.ops_fact) }}
          </div>
        </div>
        <div class="row">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="input-field col s4">
          </div>
          <div class="input-field col s4">
            {{ render_field(form.submit, value="Изменить данные") }}
          </div>
          <div class="input-field col s4">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
  $("#refund_fz").change(function() {
    if($(this).is(":checked")) {
      $(this).val("True");
    }
    else {
      $(this).val("False");
    }
  })
});
</script>
{% endblock %}
